@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

body {
    overflow-x: hidden;
}

@media (max-width: 1380px) {
    .hashtags-home * {
        line-height: 1.5rem !important;
    }
}

@media (min-width: 876px) and (max-width: 1380px) {
    .realization-thumbnail:nth-child(odd) {
        margin-top: 60px;
    }
}

@media (min-width: 1380px) {
    .realization-thumbnail:nth-child(3n+1) {
        margin-right: 75px;
        margin-top: 120px;
    }

    .realization-thumbnail:nth-child(3n+2) {
        margin-right: 75px;
        margin-top: 60px;
    }

    .hashtags-home * {
        line-height: 2rem !important;
    }
}