@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

body {
    overflow-x: hidden;
}

@media (min-width: 876px) {
    .lottie-card:nth-child(1) {
        transform: translateY(-180px);
    }

    .lottie-card:nth-child(2) {
        transform: translateY(-120px);
    }

    .lottie-card:nth-child(3) {
        transform: translateY(-60px);
    }

    .lottie-card:nth-child(4) {
        z-index: 100;
    }
}

@media (max-width: 1380px) {
    .hashtags-home * {
        line-height: 1.5rem !important;
    }
}

@media (min-width: 876px) and (max-width: 1380px) {
    .realization-thumbnail:nth-child(odd) {
        margin-top: 60px;
    }
}

@media (min-width: 1380px) {
    .realization-thumbnail:nth-child(3n+1) {
        margin-right: 75px;
        margin-top: 120px;
    }

    .realization-thumbnail:nth-child(3n+2) {
        margin-right: 75px;
        margin-top: 60px;
    }

    .hashtags-home * {
        line-height: 2rem !important;
    }
}

/* latin */
@font-face {
    font-family: 'Encode Sans';
    font-style: normal;
    font-weight: 300;
    font-stretch: 100%;
    font-display: swap;
    src: url(../public/fonts/LDIhapOFNxEwR-Bd1O9uYNmnUQomAgE25imKSbHLSMA6.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
    font-family: 'Encode Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    font-display: swap;
    src: url(../public/fonts/LDIhapOFNxEwR-Bd1O9uYNmnUQomAgE25imKSbHLSMA6_4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
    font-family: 'Encode Sans';
    font-style: normal;
    font-weight: 700;
    font-stretch: 100%;
    font-display: swap;
    src: url(../public/fonts/LDIhapOFNxEwR-Bd1O9uYNmnUQomAgE25imKSbHLSMA6_b.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(../public/fonts/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuDyfAZ9hiA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
    font-family: 'Aller';
    src: url('../public/fonts/Aller.woff2') format('woff2'),
    url('../public/fonts/Aller.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aller';
    src: url('../public/fonts/Aller-Light.woff2') format('woff2'),
    url('../public/fonts/Aller-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aller';
    src: url('../public/fonts/Aller-Bold.woff2') format('woff2'),
    url('../public/fonts/Aller-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
